body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0%;
}

#angleForm {
  background-image: linear-gradient(to bottom right, #db94f5, #74a5be);
}

/* Header styling */
h2 {
  text-align: center;
  color: black;
  border: 3px solid black;
  height: 50px;
  width: 400px;
  background-image: linear-gradient(to bottom right, #d14755, #4545a1, #32ec51);
  border-radius: 9px;
  font-style: oblique
}

/* Form container styling */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.box {
  height: 20px;
  width: 400px;
  border: 1px black solid;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #ded3de;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Label styling */
label {
  display: block;
  margin-bottom: 10px;
}

/* Input field styling */
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button styling */
button {
  background-color: #37e208;
  margin-left: auto;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.highlighted {
  background-color: green;
  font-size: 25px;
  border-radius: 5px;
}


button:hover {
  background-color: #08aa0b;
}

#result {
  margin-top: 20px;
  text-align: center;
}